/**
 * @category messages
 */

$title: 'Image Example';

$empty-title: 'No Images';
$empty-desc: 'Click ‘{0}’ in the toolbar to upload your first.';

$add-title: 'Add Image';
$add-choose: 'Choose Image...';

$success-deleted: 'Deleted {0}';
$success-copy: 'Copied {0}';
$success-add: 'Added {0}';

$action-add: 'Add';
$action-copy: 'Copy';
$action-delete: 'Delete';
$action-cancel: 'Cancel';
$action-save: 'Save';