
/**
 * Bulma changes
 *
 * We want progress in file-label, and a 100% progress element does not display there.
 *
 * Therefore needs a fixed size.
 */

.file-label .progress{
  width: 100%;
  min-width: 5em; // Keep in mind small displays such as 5SE
  margin: 0rem;
  display: inline-flex;
}
.file .progress + .delete{
  margin-left: .5rem;
}
.file-label .tag{
  margin-left: .5rem;
}
.file-preview img, .file-preview canvas{
  max-width: 64px;
  border-radius: 2px;
  display:inline-block;
}